<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="TwitterBatchLoader.Admin" connectionString="Data Source=retdb02;Initial Catalog=TwitterAdmin;Integrated Security=true"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
